@model FZMusicEntites.Models.PlaylistAndPlayListMusic

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-color: #000000;
    }
</style>
<div style="text-align: center; margin: 15px; background-color: #343A40; color: white ">
    <h2> <b>Çalma Listesi Ekleme </b></h2>
</div>
<div style="width:97%; height:200px; font-size:24px; color:white; font-weight:bold;">
    @ViewBag.Name @ViewBag.Id

    <div style="position:r margin:15px">
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: #343A40; color: white">

                    <th>MüzikAdi</th>
                    <th>Sanatcı</th>
                    <th>Kategori</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var playlistsMusics in Model.PlayListMusics)
                {
                    <tr>

                        <td style="color:white;">@playlistsMusics.Music.Name</td>
                        <td style="color:white;">@playlistsMusics.Music.Artist.Name</td>
                        <td style="color:white;">@playlistsMusics.Music.Category.Name</td>

                        <td>
                            <a class="btn btn-danger" href="/Playlist/delete/@playlistsMusics.PlayListMusicId">Sil</a>&nbsp;


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




</div>
<div style="width:100%; height:50px; color:white; font-weight:bold; text-align:center;">Müzikler</div>




<div style="margin:15px">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color: #343A40; color: white">

                <th>MüzikAdi</th>
                <th>Sanatcı</th>
                <th>Kategori</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var playlistsMusic in Model.Musics)
            {
                <tr>

                    <td style="color:white;">@playlistsMusic.Name</td>
                    <td style="color:white;">@playlistsMusic.Artist.Name</td>
                    <td style="color:white;">@playlistsMusic.Category.Name</td>

                    <td>
                        <a class="btn btn-danger" href="/Playlist/MusicEkle/@playlistsMusic.Id">Ekle</a>&nbsp;


                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <a class="btn btn-default" href="Index">Tamamla</a>&nbsp;
</div>

